.feature{
    display: flex;
}
.feature__icon{
    width: rem(45px);
    margin-right:rem(8px);

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.feature__text{
    display: flex;
    font-weight: 700;
}
.feature__text{
    font-size: rem(16px);
    max-width: rem(90px);

    @include tablets {
        display: none;
    }
}