$container-Width: 940px;
$baseFontSize: 18px;

@import "media";

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$yellow: #FFD517;
$liteYellow: #FEDB3F;


//z-index
$z-fixed-menu: 100;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setup
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800&display=swap");
@import "layout";

//components
@import "hero";
@import "header";
@import "features";
@import "feature";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "reviews";
@import "interactive-avatar";
@import "form";
@import "fixed";
@import "radio";
@import "fixed-menu";
@import "hamburger";
@import "footer";
@import "social";
@import "section";
@import "style";
@import "dropdown";
@import "product";
@import "burger-menu";