.team-section{
    display: flex;
    justify-content: space-between;
}
.team__container{
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
}
.team__item{


}
.team_member{
    width: 220px;
    height: 290px;
}