.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.player__splah {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 4343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35%;
  background: #404040;
}

.player__start {
  background: url("./../../img/img-video/start.svg");
}

.player__controls {
  background: #404040;
  color: #404040;
}